*{
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    line-height: 0;
    clear: both;
}

html{
    background-color: #00BF83;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container{
    width: 800px;
	height:1024px;
    background-color: #007F58;
    margin: 0 auto;
}

#header{
    height: 50px;
    background-color: #DB19FF;
}

#header h2{
    line-height: 45px;
    float: left;
    margin-left: 15px;
}

#menu li{
    list-style: none;
    float: right;
    margin-right: 15px;
    line-height: 45px;
    cursor: pointer;
}

#playInfo{
    width: 550px;
    height: 100px;
    margin: 0 auto;
	background-color: #00FFF5;
   	position: relative;
    top: 20px;
    border-radius: 10px;
}

#nowPlaying {
	width: 400px;
	height: 30px;
	float: left;
	line-height: 32px;
	margin-top: -35px;
	margin-left: 130px;
	background: #ffffff;
	border-radius: 10px;
	padding-left: 10px;
}

#playInfo p{
	font-size: 18px;
	line-height: 45px;
	font-weight: bold;
    margin-left: 10px;
}

#genresBox{
    padding-top: 40px;
}

li {
	cursor: pointer;	
}

#genresBox li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
	float: left;
	margin-left: 125px;
    cursor: pointer;
}

#content{
    padding-top: 50px;
}

#info li{
    list-style-type: decimal;
    padding-top: 5px;
    margin-left: 15px;
}

#albumArt{
	width: 750px;
	height: 200px;
	margin: 0 auto;
}
.album{
	width: 100px;
	height: 100px;
    float: left;
    padding: 70px 25px 50px 25px;
}

#aI {
	float: left;
	width: 280px;
	margin-top: -15px;
}

#albumInfo {
	padding: 40px 10px 5px 10px;
	color: #DB19FF;
}

#container #albumInfo h1 {
	text-align: left;
	color:	#FFC019;
}

#trackInfo {
	padding: 0px 5px 5px 0px;	
}

#trackInfo li{
	list-style-type: decimal;	
}

#albumsBox{
    margin-top: 50px;
}

#albumsBox li{
    list-style-type: none;
    padding-bottom: 10px;
    font-weight: bold;
}

.artistLink{
	text-decoration: underline;
    cursor: pointer;
}

#playBtn {
	background-image: url(../img/playBtn.png);	
}

#stopBtn {
	background-image: url(../img/stopBtn.png);	
}

.btns{
	width: 30px;
	height: 30px;
	background-color: #000000;
	border: none;
	border-radius:10px;
	margin-left: 10px;
}
.btns:hover {
	cursor: pointer;
	background-color: #333;	
}

.btns:focus {
	outline: 0;	
}

.btns:active {
	border:black;
	background-color: #CCC;		
}

.artistBio {
	width: 650px;
	height: 550px;
 	position: relative;
	left: 75px;
	top: -160px;
	z-index: 1;
	border-radius: 20px;
}

#larrow{
	width: 80px;
	height: 80px;
	position: relative;
	left: 20px;
	top: 200px;
	z-index: 2;
}

#rarrow {
	width: 80px;
	height: 80px;	
	position: relative;
	left: 700px;
	top: 120px;
	z-index: 2;
}

#search{
    width: 650px;
    height: 50px;
    margin: 0 auto;
    background-color: #00FFF5;
    position: relative;
    margin-bottom: 20px;
    top: 20px;
    border-radius: 10px;
}

#search p{
    font-weight: bold;
    line-height: 45px;
    padding-left: 10px;
}

#searchBox{
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    left: 80px;
    width: 450px;
    height: 20px;
    border-radius: 10px;
}

#submit{
    width: 70px;
    position: absolute;
    top: 14px;
    left: 555px;
}

