*{
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    line-height: 0;
    clear: both;
}

html{
    background-color: #00BF83;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container{
    width: 768px;
	height:1024px;
    background-color: #007F58;
    margin: 0 auto;
}

#header{
    height: 50px;
    background-color: #DB19FF;
}

#header h2{
    line-height: 45px;
    float: left;
    margin-left: 15px;
}

#menu li{
    list-style: none;
    float: right;
    margin-right: 15px;
    line-height: 45px;
    cursor: pointer;
}

#playInfo{
    width: 550px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    background-color: #00FFF5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#playInfo h3{
    line-height: 45px;
    margin-left: 10px;
}

#genresBox{
    padding-top: 40px;
}

#genresBox li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-right: 145px;
    cursor: pointer;
}

#info{
    padding-top: 50px;
}

#info li{
    list-style-type: decimal;
    padding-top: 5px;
    margin-left: 15px;
}

.album{
	width: 100px;
	height: 100px;
    float: left;
    margin: 70px 20px 50px 30px;
}

#aI {
	width: 280px;
	margin-top: -830px;
}

#albumInfo {
	padding: 30px 10px 5px 10px;
	color: #DB19FF;
}

#albumInfo h1 {
	color:	#FFC019;
}

#trackInfo {
	padding: 0px 5px 5px 0px;	
}

#trackInfo li{
	list-style-type: decimal;	
}

#albumsBox{
    margin-top: 50px;
}

#albumsBox li{
    list-style-type: none;
    padding-bottom: 10px;
    font-weight: bold;
}