*{
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    line-height: 0;
    clear: both;
}

html{
    background-color: #00BF83;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container{
    width: 768px;
    height: 1024px;
    background-color: #007F58;
    margin: 0 auto;
}

#header{
    height: 50px;
    background-color: #DB19FF;
}

#header h2{
    line-height: 45px;
    float: left;
    margin-left: 15px;
}

#menu li{
    list-style: none;
    float: right;
    margin-right: 15px;
    line-height: 45px;
    cursor: pointer;
}

#playInfo{
    width: 550px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: 20px;
    background-color: #00FFF5;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#playInfo h3{
    line-height: 45px;
    margin-left: 10px;
}

#genresBox{
    margin-top: 10px;
}